/* *{
    margin: 0;
    padding: 0;
}


p {
    background-color: darkmagenta;
}
div {
border: 1px solid black;
}
#position-r {
    position: relative;
    top: 30px;
    background-color: aqua;
    left: 50px;
opacity: 0.5;
}
#position-a {
    position: absolute;
    top: 0;
right: 0;
background-color: blue;
}
#position-f { 
position: fixed;
bottom: 50px;
left: 50px;
background-color: cornflowerblue;
}
.position-s {
    position: sticky;
    top: 0;
} */
table {
    border: 1px solid gray;

}
td {
    border: 1px solid gray;
}
