 /* .align-in {
    width: 100%;
    background-color: antiquewhite;
    text-align: center;
    border: 1px solid black;
}
.wrapper {
    display: flex;
    flex-direction: column ;
    flex-direction: row-reverse;
}  */
/* .wrapper {
    display: flex;
    justify-content: space-around; 
    height: 400px;
    align-items: center;
    background-color: darkgray;
}
.blue {
    width: 50px;
    height: 30px;
    background-color: blue;
    align-self: flex-end;
}
.green {
    width: 50px;
    height: 40px;
    background-color: green;
}
.red {
    width: 50px;
    height: 50px;
    background-color: red;
    margin: 90px 45px 180px 75px;
    padding: 90px 45px;
}
.orange {
    width: 50px;
    height: 60px;
    background-color: orange;
    align-self: flex-start;

} */
.wrapper {
    height: 200px;
    background-color: darkgrey;
}
.grey {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.red {
    width: 100px;
    height: 100px;
    background-color: red;
    align-items: center;
    display: flex;
}


.green {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: green;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
}

.yelow {
    width: 80%;
height: 20px;
background-color: yellow;
margin: 2px 0;
}

.perple {
    height: 50px; 
    background-color: purple;
}

.blue {
    width: 25%;
    height: 80%;
    background-color: blue;
    border: 1px solid black;
}